@font-face {
    font-family: suisse-medium;
    src: url(suissemedium.woff);
}

@font-face {
    font-family: suisse-regular;
    src: url(suisseregular.woff);
}

@font-face {
    font-family: suisse-light;
    src: url(suisselight.woff);
}

@font-face {
    font-family: sometimestimes-italic;
    src: url(sometimestimesitalic.woff);
}

@font-face {
    font-family: sometimestimes;
    src: url(sometimestimes.woff);
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
}

canvas { 
	display: block; 
	position: fixed;
}

h1 {
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
    padding: 0;
}

.main_container {
    margin: 0;
    position: relative;
}

.intro_container {
    height: 100vh;
    position: relative;
    background: rgb(211,211,211);
    background: linear-gradient(0deg, rgba(211,211,211,1) 0%, rgba(255,255,255,1) 100%);
}

.logo {
    width: 85%;
    height: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: block;
    position: absolute;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navigation {
    background-color: rgb(255, 255, 255);
    display: flex;
    padding: 10px;
    justify-content: space-between;
    z-index: 5;
    position: fixed;
    width: 99%;
}

.navigation a {
    font-family: 'suisse-regular';
    font-size: 20px;
    padding: 10px;
    color: black;
    text-decoration: none;
}

.navigation a:hover {
    text-decoration: underline;
}

.navigation_trial {
    background-color: rgb(211, 211, 211);
    display: flex;
    padding: 10px;
    justify-content: space-between;
    z-index: 5;
    position: fixed;
    width: 99%;
}

.navigation_trial a {
    font-family: 'suisse-regular';
    font-size: 20px;
    padding: 10px;
    color: black;
    text-decoration: none;
}

.navigation_trial a:hover {
    text-decoration: underline;
}

/*.line {
    background-color: rgb(211, 211, 211);
    display: flex;
    z-index: 5;
    margin: 0;
}

hr {
    z-index: 5;
    width: 97%;
    height: 2px;
    padding: -10;
    border: 0 none;
    margin-right: auto;
    margin-left: auto;
    background-color: rgb(0, 0, 0);
}*/

p, h1, h2 {
    opacity: 0;
}

.philosophy_container {
    background-color: rgb(211, 211, 211);
    height: 100vh;
    margin: 0;
    background: rgb(238,90,54);
    background: radial-gradient(circle, rgba(238,90,54,1) 10%, rgba(211,211,211) 45%);
}

.philosophy_container {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.philosophy_container p {
    width: 85%;
    display: inline-block;
    text-align: left;
    opacity: 0;
    margin: 0;
    color: rgb(0, 0, 0);
    font-family: 'sometimestimes-italic';
    font-size: 4.2vw;
    padding: 50px;
    margin-top: 0;
    margin-bottom: 0;
}

.philosophy_container h1 {
    padding-top: 8%;
    font-family: 'suisse-medium';
    font-size: 10px;
    letter-spacing: 1px;
    color: rgb(0, 0, 0);
    margin-top: 0;
    margin-bottom: 0;
}

.review_container {
    margin: 0;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(211,211,211,1) 100%);
    padding-bottom: 50px;
}

.review_container p {
    opacity: 0;
    color: rgb(0, 0, 0);
    font-family: 'suisse-light';
    font-size: 3.2vw;
    margin: 0;
    margin-left: 90px;
    margin-right: 90px;
}

.review_container h1 {
    text-align: center;
    padding-top: 8%;
    padding-bottom: 50px;
    font-family: 'suisse-medium';
    font-size: 10px;
    letter-spacing: 1px;
    color: rgb(0, 0, 0);
    margin: 0;
}

.review_container h2 {
    opacity: 0;
    color: rgb(0, 0, 0);
    font-family: 'sometimestimes-italic';
    font-size: 3.2vw;
    margin: 0;
    margin-left: 90px;
    margin-right: 90px;
}

.plans_intro p {
    width: 85%;
    display: inline-block;
    text-align: left;
    opacity: 0;
    margin: 0;
    color: rgb(0, 0, 0);
    font-family: 'sometimestimes-italic';
    font-size: 4.2vw;
    padding: 50px;
    margin-top: 0;
    margin-bottom: 0;
}

.plans_intro h1 {
    opacity: 0;
    text-align: center;
    padding-bottom: 50px;
    font-family: 'suisse-medium';
    font-size: 10px;
    letter-spacing: 1px;
    color: rgb(0, 0, 0);
    margin: 0;
}

.plans_parent {
    background: rgb(211,211,211);
    background: linear-gradient(0deg, rgba(211,211,211,1) 0%, rgba(255,255,255,1) 31%);
}

.plans_container {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-left: 90px;
    margin-right: 90px;
    padding-bottom: 100px;
}

.plans_container:after {
    content: "";
    display: table;
    clear: both;
}

.plan {
    float: left;
    width: 33.33%;
}

.plan p {
    font-family: 'suisse-light';
    font-size: 2vw;
    text-align: left;
    padding-right: 50px;
}

.plan h2 {
    font-size: 3.2vw;
    font-family: 'sometimestimes-italic';
    text-align: left;
}

.plans_container h1 {
    text-align: center;
    padding-top: 8%;
    padding-bottom: 50px;
    font-family: 'suisse-medium';
    font-size: 10px;
    letter-spacing: 1px;
    color: rgb(0, 0, 0);
    margin: 0;
}

.programs_parent {
    background: rgb(211,211,211);
    background: linear-gradient(0deg, rgba(211,211,211,1) 0%, rgba(255,255,255,1) 31%);
    height: 100vh;
}

.programs_container {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-left: 90px;
    margin-right: 90px;
    padding-bottom: 100px;
}

.programs_container:after {
    content: "";
    display: table;
    clear: both;
}

.program {
    float: left;
    width: 50%;
}

.program p {
    font-family: 'suisse-light';
    font-size: 2vw;
    text-align: left;
    padding-right: 50px;
}

.program h2 {
    font-size: 3.2vw;
    font-family: 'sometimestimes-italic';
    text-align: left;
}

.programs_container h1 {
    text-align: center;
    padding-top: 8%;
    padding-bottom: 50px;
    font-family: 'suisse-medium';
    font-size: 10px;
    letter-spacing: 1px;
    color: rgb(0, 0, 0);
    margin: 0;
}

.programs_parent p, h1, h2, a {
    opacity: 100;
}



.trial_container {
    background-color: rgb(211,211,211);
}

.trial_launch_container {
    height: 100vh;
    background: rgb(238,90,54);
    background: radial-gradient(circle, rgba(238,90,54,1) 10%, rgba(211,211,211) 45%);
}

.trial_launch_container {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.launch_link_container {
    padding: 50px;
    padding-top: 30vh;
    margin: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.trial_launch_container a {
    display: inline-block;
    text-align: center;
    opacity: 0;
    color: rgb(255, 255, 255);
    font-family: 'sometimestimes-italic';
    font-size: 4.2vw;
    text-decoration: none;
}

.trial_launch_container a:hover {
    -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.4) 30%, #000 50%, rgba(0,0,0,.4) 70%);
    -webkit-mask-size: 200%;
    animation: shine 2s infinite;
}

#introaudio:hover {
    -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.4) 30%, #000 50%, rgba(0,0,0,.4) 70%);
    -webkit-mask-size: 200%;
    animation: shine 2s infinite;
}

.trial_launch_container h1 {
    padding-top: 8%;
    font-family: 'suisse-medium';
    font-size: 10px;
    letter-spacing: 1px;
    color: rgb(0, 0, 0);
    margin-top: 0;
    margin-bottom: 0;
}

.contact_container {
    height: 100vh;    
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 56%, rgba(211,211,211,1) 100%);
}

.contact_container {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.contact_container p {
    opacity: 0;
    color: rgb(0, 0, 0);
    font-family: 'suisse-light';
    font-size: 3.2vw;
    margin: 0;
    margin-left: 90px;
    margin-right: 90px;
}

.contact_container h1 {
    text-align: center;
    padding-top: 8%;
    padding-bottom: 50px;
    font-family: 'suisse-medium';
    font-size: 10px;
    letter-spacing: 1px;
    color: rgb(0, 0, 0);
    margin: 0;
}

body {
    margin: 0;
}

.trial_text_container {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#intro_play {
    z-index: 1;
    text-align: center;
    position: absolute;
    font-family: 'sometimestimes-italic';
    font-size: 4vw;
    line-height: 4vw;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 45vh;
}

#intro_play a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.audio_text1 {
    z-index: 1;
    text-align: center;
    position: absolute;
    font-family: 'suisse-light';
    font-size: 3vw;
    line-height: 3vw;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 20vh;
}

.audio_text_cc {
    text-align: left;
}

.audio_text1 a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.audio_text1 #introaudio_cc {
    font-family: 'sometimestimes-italic';
    font-size: 3vw;
    line-height: 4vw;
} 

#introaudio {
    margin-left: 35vw;
}

.audio1_answers_text {
    text-align: left;
    font-size: 2vw;
}

#audio1_answer1:hover {
    -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.4) 30%, #000 50%, rgba(0,0,0,.4) 70%);
    -webkit-mask-size: 200%;
    animation: shine 2s infinite;
}

#audio1_answer2:hover {
    -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.4) 30%, #000 50%, rgba(0,0,0,.4) 70%);
    -webkit-mask-size: 200%;
    animation: shine 2s infinite;
}

#audio1_answer3:hover {
    -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.4) 30%, #000 50%, rgba(0,0,0,.4) 70%);
    -webkit-mask-size: 200%;
    animation: shine 2s infinite;
}

#audio1_answer4:hover {
    -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.4) 30%, #000 50%, rgba(0,0,0,.4) 70%);
    -webkit-mask-size: 200%;
    animation: shine 2s infinite;
}

.audio_text2 {
    z-index: 2;
    text-align: center;
    position: absolute;
    font-family: 'suisse-light';
    font-size: 3vw;
    line-height: 3vw;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 20vh;
}

.audio_text2 a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.audio_text2 #audio2_cc {
    font-family: 'sometimestimes-italic';
    font-size: 3vw;
    line-height: 4vw;
} 

.audio2_answers_text {
    text-align: left;
    font-size: 2vw;
}

#audio2_answer1:hover {
    -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.4) 30%, #000 50%, rgba(0,0,0,.4) 70%);
    -webkit-mask-size: 200%;
    animation: shine 2s infinite;
}

#audio2_answer2:hover {
    -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.4) 30%, #000 50%, rgba(0,0,0,.4) 70%);
    -webkit-mask-size: 200%;
    animation: shine 2s infinite;
}

#audio2_answer3:hover {
    -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.4) 30%, #000 50%, rgba(0,0,0,.4) 70%);
    -webkit-mask-size: 200%;
    animation: shine 2s infinite;
}

#audio2_answer4:hover {
    -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.4) 30%, #000 50%, rgba(0,0,0,.4) 70%);
    -webkit-mask-size: 200%;
    animation: shine 2s infinite;
}

.audio_text3 {
    z-index: 2;
    text-align: center;
    position: absolute;
    font-family: 'suisse-light';
    font-size: 3vw;
    line-height: 3vw;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 20vh;
}

.audio_text3 a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.audio_text3 #audio3_cc {
    font-family: 'sometimestimes-italic';
    font-size: 3vw;
    line-height: 4vw;
} 

.audio3_answers_text {
    text-align: left;
    font-size: 2vw;
}

#audio3_answer1:hover {
    -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.4) 30%, #000 50%, rgba(0,0,0,.4) 70%);
    -webkit-mask-size: 200%;
    animation: shine 2s infinite;
}

#audio3_answer2:hover {
    -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.4) 30%, #000 50%, rgba(0,0,0,.4) 70%);
    -webkit-mask-size: 200%;
    animation: shine 2s infinite;
}

#audio3_answer3:hover {
    -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.4) 30%, #000 50%, rgba(0,0,0,.4) 70%);
    -webkit-mask-size: 200%;
    animation: shine 2s infinite;
}

#audio3_answer4:hover {
    -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.4) 30%, #000 50%, rgba(0,0,0,.4) 70%);
    -webkit-mask-size: 200%;
    animation: shine 2s infinite;
}

.audio_text4 {
    z-index: 2;
    text-align: center;
    position: absolute;
    font-family: 'suisse-light';
    font-size: 3vw;
    line-height: 3vw;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 20vh;
}

.audio_text4 a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.audio_text4 #audio4_cc {
    font-family: 'sometimestimes-italic';
    font-size: 3vw;
    line-height: 4vw;
} 

.audio4_answers_text {
    text-align: left;
    font-size: 2vw;
}

#audio4_answer1:hover {
    -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.4) 30%, #000 50%, rgba(0,0,0,.4) 70%);
    -webkit-mask-size: 200%;
    animation: shine 2s infinite;
}

#audio4_answer2:hover {
    -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.4) 30%, #000 50%, rgba(0,0,0,.4) 70%);
    -webkit-mask-size: 200%;
    animation: shine 2s infinite;
}

#audio4_answer3:hover {
    -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.4) 30%, #000 50%, rgba(0,0,0,.4) 70%);
    -webkit-mask-size: 200%;
    animation: shine 2s infinite;
}

#audio4_answer4:hover {
    -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.4) 30%, #000 50%, rgba(0,0,0,.4) 70%);
    -webkit-mask-size: 200%;
    animation: shine 2s infinite;
}

.audio_text5 {
    z-index: 2;
    text-align: center;
    position: absolute;
    font-family: 'suisse-light';
    font-size: 3vw;
    line-height: 3vw;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 20vh;
}

.audio_text5 a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.audio_text5 #audio5_cc {
    font-family: 'sometimestimes-italic';
    font-size: 3vw;
    line-height: 4vw;
} 

.audio5_answers_text {
    text-align: left;
    font-size: 2vw;
}

#audio5_answer1:hover {
    -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.4) 30%, #000 50%, rgba(0,0,0,.4) 70%);
    -webkit-mask-size: 200%;
    animation: shine 2s infinite;
}

#audio5_answer2:hover {
    -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.4) 30%, #000 50%, rgba(0,0,0,.4) 70%);
    -webkit-mask-size: 200%;
    animation: shine 2s infinite;
}

#audio5_answer3:hover {
    -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.4) 30%, #000 50%, rgba(0,0,0,.4) 70%);
    -webkit-mask-size: 200%;
    animation: shine 2s infinite;
}

#audio5_answer4:hover {
    -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.4) 30%, #000 50%, rgba(0,0,0,.4) 70%);
    -webkit-mask-size: 200%;
    animation: shine 2s infinite;
}

.audio_text6 {
    z-index: 2;
    text-align: center;
    position: absolute;
    font-family: 'suisse-light';
    font-size: 3vw;
    line-height: 3vw;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 20vh;
}

.audio_text6 a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.audio_text6 #audio6_cc {
    font-family: 'sometimestimes-italic';
    font-size: 3vw;
    line-height: 4vw;
} 

.audio6_answers_text {
    text-align: left;
    font-size: 2vw;
}

#audio6_answer1:hover {
    -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.4) 30%, #000 50%, rgba(0,0,0,.4) 70%);
    -webkit-mask-size: 200%;
    animation: shine 2s infinite;
}

#audio6_answer2:hover {
    -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.4) 30%, #000 50%, rgba(0,0,0,.4) 70%);
    -webkit-mask-size: 200%;
    animation: shine 2s infinite;
}

#audio6_answer3:hover {
    -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.4) 30%, #000 50%, rgba(0,0,0,.4) 70%);
    -webkit-mask-size: 200%;
    animation: shine 2s infinite;
}

#audio6_answer4:hover {
    -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.4) 30%, #000 50%, rgba(0,0,0,.4) 70%);
    -webkit-mask-size: 200%;
    animation: shine 2s infinite;
}

.audio_text7 {
    z-index: 2;
    text-align: center;
    position: absolute;
    font-family: 'suisse-light';
    font-size: 3vw;
    line-height: 3vw;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 20vh;
}

.audio_text7 a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.audio_text7 #audio7_cc {
    font-family: 'sometimestimes-italic';
    font-size: 3vw;
    line-height: 4vw;
} 

.audio7_answers_text {
    text-align: left;
    font-size: 2vw;
}

#audio7_answer1:hover {
    -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.4) 30%, #000 50%, rgba(0,0,0,.4) 70%);
    -webkit-mask-size: 200%;
    animation: shine 2s infinite;
}

#audio7_answer2:hover {
    -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.4) 30%, #000 50%, rgba(0,0,0,.4) 70%);
    -webkit-mask-size: 200%;
    animation: shine 2s infinite;
}

#audio7_answer3:hover {
    -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.4) 30%, #000 50%, rgba(0,0,0,.4) 70%);
    -webkit-mask-size: 200%;
    animation: shine 2s infinite;
}

#audio7_answer4:hover {
    -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.4) 30%, #000 50%, rgba(0,0,0,.4) 70%);
    -webkit-mask-size: 200%;
    animation: shine 2s infinite;
}

.audio_text_answer1 {
    z-index: 2;
    text-align: center;
    position: absolute;
    font-family: 'suisse-light';
    font-size: 3vw;
    line-height: 3vw;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 20vh;
}

.audio_text_answer1 a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.audio_text_answer1 #answer1_cc {
    font-family: 'sometimestimes-italic';
    font-size: 3vw;
    line-height: 4vw;
} 

.answer1_learnmore {
    text-align: left;
    font-size: 2vw;
}

#answer1_learnmore_link:hover {
    -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.4) 30%, #000 50%, rgba(0,0,0,.4) 70%);
    -webkit-mask-size: 200%;
    animation: shine 2s infinite;
}

.audio_text_answer2 {
    z-index: 2;
    text-align: center;
    position: absolute;
    font-family: 'suisse-light';
    font-size: 3vw;
    line-height: 3vw;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 20vh;
}

.audio_text_answer2 a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.audio_text_answer2 #answer2_cc {
    font-family: 'sometimestimes-italic';
    font-size: 3vw;
    line-height: 4vw;
} 

.answer2_learnmore {
    text-align: left;
    font-size: 2vw;
}

#answer2_learnmore_link:hover {
    -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.4) 30%, #000 50%, rgba(0,0,0,.4) 70%);
    -webkit-mask-size: 200%;
    animation: shine 2s infinite;
}

.audio_text_answer3 {
    z-index: 2;
    text-align: center;
    position: absolute;
    font-family: 'suisse-light';
    font-size: 3vw;
    line-height: 3vw;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 20vh;
}

.audio_text_answer3 a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.audio_text_answer3 #answer3_cc {
    font-family: 'sometimestimes-italic';
    font-size: 3vw;
    line-height: 4vw;
} 

.answer3_learnmore {
    text-align: left;
    font-size: 2vw;
}

#answer3_learnmore_link:hover {
    -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.4) 30%, #000 50%, rgba(0,0,0,.4) 70%);
    -webkit-mask-size: 200%;
    animation: shine 2s infinite;
}

.hide {
    display: none;
}

.show {
    display: block;
}

@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }
  
  to {
    -webkit-mask-position: -50%;
  }
}

@media screen and (max-width: 800px) {
    .plan {
      width: 100%;
    }
}