@font-face {
    font-family: suisse-medium;
    src: url(suissemedium.woff);
}

@font-face {
    font-family: suisse-regular;
    src: url(suisseregular.woff);
}

@font-face {
    font-family: suisse-light;
    src: url(suisselight.woff);
}

@font-face {
    font-family: sometimestimes-italic;
    src: url(sometimestimesitalic.woff);
}

@font-face {
    font-family: sometimestimes;
    src: url(sometimestimes.woff);
}

* {
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background: rgb(225, 225, 225);
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1, h2, p, a {
    font-family: suisse-regular;
}

.navigation {
    display: flex;
    padding: 10px;
    z-index: 5;
    position: fixed;
    width: 99%;
}

.navigation a {
    font-size: 10px;
    letter-spacing: 1px;
    padding: 10px;
    color: white;
    text-decoration: none;
}

.navigation a:hover {
    color: rgb(235, 235, 235);
}

.installation_navigation {
    display: flex;
    position: fixed;
    padding: 10px;
    z-index: 5;
    position: fixed;
    width: 99%;
}

.installation_navigation a {
    font-size: 10px;
    letter-spacing: 1px;
    padding: 10px;
    color: white;
    text-decoration: none;
}

.installation_navigation a:hover {
    color: rgb(235, 235, 235);
}

.about_link, .experience_link, .gallery_link {
    margin-left: 40px;
}

.arrow {
    position: absolute;
    margin-left: 50%;
    margin-right: 50%;
    margin-top: -40px;
}

.video_wrapper {
    height: 90vh;
}

.video_embed {
    opacity: 0.9;
    visibility: visible;
    width: 100%;
    height: 100%;
    top: 0;
    object-fit: cover;
}

.about_container {
    margin: 0;
    padding: 0;
}

.about_container:after {
    content: "";
    display: table;
    clear: both;
}

.left_about {
    float: left;
    width: 50%;
    background-color: rgb(225, 225, 225);
    overflow: hidden;
}

.right_about {
    float: left;
    width: 50%;
    overflow: hidden;
    align-items: center;
}

.about_text {
    margin-top: 0;
    padding: 8%;
}

.about_text h1 {
    font-size: 10px;
    letter-spacing: 1px;
}

.about_text p {
    font-size: 1.3vw;
    letter-spacing: .5px;
}

.about_img {
    margin: 0;
    height: 150%;
    width: 150%;
    margin-left: -20%;
    margin-bottom: -10px;
}

.experience_container {
    background: black;
    margin: 0;
    padding: 0;
}

.experience_container:after {
    content: "";
    display: table;
    clear: both;
}

.left_experience {
    margin: 0;
    float: left;
    width: 50%;
    background-color: rgb(0, 0, 0);
}

.right_experience {
    overflow: hidden;
    float: left;
    width: 50%;
}

.experience_text {
    margin-top: 0;
    padding: 8%;
}

.experience_text h1 {
    color: white;
    font-size: 10px;
    letter-spacing: 1px;
}

.experience_text p {
    color: white;
    font-size: 1.3vw;
    letter-spacing: .5px;
}

.experience_img {
    height: 150%;
    width: 150%;
    margin-left: -200px;
    overflow: hidden;
    margin-bottom: -10px;
}

.experience_hidden {
    display: none;
}

.prompt a {
    color: white;
}

.prompt a:hover {
    text-decoration: none;
}

.installation-container {
    margin: 0;
    background: black;
}

.gallery_img_container {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}  

.gallery_images {
    position: relative;
    overflow: hidden;
    height: 100vh;
}

.gallery_images img {
    padding: 50px;
}

.computer {
    width: 80%;
    margin-top: 20%;
}

.shinycard {
    width: 50%;
    margin-top: 20%;
}

.standing {
    width: 50%;
}

.people2 {
    width: 80%;
}

.people1 {
    width: 50%;
}

.postersclose {
    width: 80%;
}

.cardback {
    width: 50%;
}

.cardclose {
    width: 80%;
}

.cameroncomputer {
    width: 80%;
}

.overflow-hidden {
   overflow: hidden;
}

.row {
  display: flex;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.col {
  height: 100%;
  overflow: hidden;
}

.col_innerleft {
  height: 100%;
  width: 50vw;
  overflow-y: scroll;
  box-sizing: content-box;
}

.col_innerright {
  height: 100%;
  width: 50vw;
  overflow-y: scroll;
  box-sizing: content-box;
    background: black;
}

.overflow-auto {
    overflow: auto;
}

@media screen and (max-width: 800px) {
    .navigation a {
        padding: 0px;
        font-size: 8px;
    }
    
    .navigation {
        padding: 0px;
        padding-left: 10px;
        padding-top: 10px;
    }
    
    .about_container p {
        font-size: 15px;
    }
    
    .left_about {
        width: 100%;
    }
    
    .right_about {
        height: 100vh;
        width: 100%;
    }
    
    .about_img {
        width: 100%;
        height: 150%;
        margin-left: 0;
    }
    
    .experience_container p {
        font-size: 15px;
    }
    
    .left_experience {
        width: 100%;
        height: 100vh;
    }
    
    .right_experience {
        width: 100%;
    }
    
    .experience_hidden {
        display: block;
    }
    
    .experience_hidden_img {
        width: 100%;
    }
    
    .experience_img {
        width: 100%;
        margin-left: 0;
        display: none;
    }
    
    .gallery_images {
        overflow: auto;
        display: block;
    }
    
    .overflow-hidden {
        overflow: auto;
    }
    
    .col {
        display: block;
        overflow: auto;
    }
    
    .row {
        display: block;
        overflow: auto;
    }
    
    .col_innerleft, .col_innerright {
        background: black;
        overflow-y: auto;
        box-sizing: inherit;
        display: block;
        overflow: auto;
        width: 100vw;
    }
}